.message {
  width: 250px;
  border: 5px solid rgb(109, 231, 109);
  display: flex;
  flex-direction: column-reverse;
}

.imageAndText {
  width: 200px;
  margin-right: 40px;
  display: flex;
}

.imageAndText img {
  padding-top: 15px;
  width: 80px;
  border-radius: 10px;
}

.text {
  color: rgba(56, 241, 50, 0.548);
}

.text:after {
  color: yellow;
}

.name {
  color: rgba(6, 43, 20, 0.548);
}

.messageText {
  padding-top: 15px;
  color: rgba(5, 177, 19, 0.753);
}

.time {
  padding-left: 5px;
  color: rgb(220, 167, 233);
}
